:root{


  --border-first-width: 5px solid;
  --border-secondary-width: 6px solid;
  --font-size-standart: 16px;
  --h4-margin:31px 0 11px 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  max-width: 1200px;
  max-height: 1667px;
}
img {
  width: 385px;
}
h1 {
  font-size: 40px;
  line-height: 48px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 28px;
  border-bottom: var(--border-first-width) var(--color-text);
  width: 659px;
}
h3 {
  border-bottom: var(--border-secondary-width) var(--color-text);
  width: 289px;
  margin: 0;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 15px;
}
h4 {
  font-size: 24px;
  line-height: 29px;
  margin: var(--h4-margin);
}
.contact_style {
  font-size: var(--font-size-standart);
  line-height: 19px;
}
.style_color_left {
  background: var(--color-main-primary);
  border-right: 1px solid var(--color-text);
  height: auto;
}
.logo {
  margin: 58px 0 36px 40px;
}
.style_languages {
  font-size: 20px;
  line-height: 24px;
}
.style_languages_margin {
  margin: 23px 0 15px 0;
}
.languages_margin {
  margin-top: 36px;
}
.style_contact_left {
  margin: 50px 0 0 40px;
}
.d-flex {
  display: flex;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.style_right {
  margin: 28px 0 0 55px;
}
.dscr_style {
  font-size: var(--font-size-standart);
  line-height: 19px;
  max-width: 706px;
}
.style_skills {
  display: flex;
}
ul {
  padding: 0;
  font-size: var(--font-size-standart);
  line-height: 19px;
  margin-left: 1rem;
}
.col-50 {
  flex: 0 0 auto;
  width: 50%;
}
.exp_style {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.exp_style_font-weight {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.exp_style_padding-top {
  padding-top: 15px;
}
.education_style {
  font-weight: 400;
}
